* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}
.loaderContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  align-items: center;
  background: rgba(198, 188, 188, 0.95);
}
.loaderLogo {
  margin: 20px;
}
.loader {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #0396e3;
  animation: prixClipFix 2s linear infinite;
}
.loader::after {
  inset: 8px;
  transform: rotate3d(90, 90, 0, 180deg);
  border-color: #c85089;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  75%,
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
}

.loader-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  background-color: black;
  z-index: 1000;
  color: whitesmoke;
  font-size: large;
}

@keyframes loadingAnimation {
  from {
    translate: 0 0;
  }

  to {
    translate: 100% 100%;
  }
}

.loader-wrapper {
  display: none;
}

.loader-wrapper loadingText {
  animation-name: loadingAnimation;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope";
}
body {
  width: 100%;
  min-height: 100vh;
  font-family: "Manrope";
}
header {
  height: 50px;
  width: 100%;
  z-index: 2;
  position: fixed !important;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  background: white;
}
header nav ul {
  height: 100%;
  display: flex;
  list-style-type: none;
  gap: 70px;
  font-size: 22px;
  font-weight: 700;
  color: #3d3d3d;
}
header nav ul li {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
header nav ul li:hover {
  transform: scale(1.1);
}
main {
  padding: 50px 0px 0px 0px;
}
.homeContainer {
  width: calc(100%);
}
.homeContainer .homeCarousel {
  width: 100%;
  height: calc(100vh - 50px);
  margin-bottom: 50px;
}
.homeContainer .homeCarousel .homeImgContainer {
  position: relative;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation-name: loadingImgAnimation;
  animation-duration: 1s;
  transition: all ease-in-out 1s;
}
.homeContainer .homeCarousel .homeImgContainer .homeCoverImg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}
.homeContainer .homeCarousel .homeImgContainer img {
  position: sticky;
  top: 90px;
  left: 40px;
  height: 90px;
  width: 180px;
  z-index: 1;
}
.burgerIconBtn {
  display: none;
}
.homeContainer .homeCarousel .homeImgContainer:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: #000;
  background: radial-gradient(
    circle at top left,
    rgba(255, 255, 255, 1) 7%,
    rgba(0, 0, 0, 1) 35%,
    rgba(0, 0, 0, 1) 100%
  );
  /* border-radius: 50px; */
}
.homeContainer .homeCarousel .homeWelcomeContainer {
  position: relative;
  top: -85px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  animation-name: homeWelcomeContainerOut;
  animation-duration: 1s;
}
.homeContainer .homeCarousel .homeWelcomeContainer .welcomeText {
  font-size: 1.7rem;
  font-weight: 700;

  color: #ffb703;
  margin-bottom: 30px;
  text-align: center;
}
.homeContainer .homeCarousel .homeWelcomeContainer .purposeText {
  font-size: 3.4rem;
  font-weight: 700;
  margin-bottom: 30px;
  text-align: center;
}
.homeContainer .homeCarousel .homeWelcomeContainer .purposeInfoText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 20px;
}
.homeContainer .homeCarousel .homeWelcomeContainer .scrollDownOptionWrapper {
  position: absolute;
  right: 2%;
  bottom: 45px;
  text-align: center;
  cursor: pointer;
}
.homeContainer
  .homeCarousel
  .homeWelcomeContainer
  .scrollDownOptionWrapper
  .scrollIcon {
  width: 50px;
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffb703;
  color: #ffb703;
  font-size: 1.4rem;
  border-radius: 50%;
  transition: transform 0.2s linear;
}
.homeContainer
  .homeCarousel
  .homeWelcomeContainer
  .scrollDownOptionWrapper
  .scrollIcon:hover {
  transform: scale(1.05);
}
.homeContainer
  .homeCarousel
  .homeWelcomeContainer
  .scrollDownOptionWrapper
  .scrollIcon
  i {
  animation: 1.2s ease infinite wheel-up-down;
}

@keyframes wheel-up-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    transform: translateY(10px);
    opacity: 0;
  }
}
.homeContainer
  .homeCarousel
  .homeWelcomeContainer
  .scrollDownOptionWrapper
  .scrollText {
  margin-top: 10px;
  color: #ffb703;
  font-size: 1.2rem;
}

.homeContainer .homeSubInfoWrapper {
  max-height: 790px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  gap: 75px;
  margin-bottom: 50px;
  /* background-image: url("../assets/images/wave.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
}
.homeContainer .homeSubInfoWrapper .subInfoImg {
  max-height: inherit;
  min-height: 600px;
  max-width: 45%;
  min-width: 40%;
  background-image: url("../assets/images/AboutUs1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #3d3d3d;
  border-radius: 50px;
  opacity: 0;
}
.homeContainer .homeSubInfoWrapper .subInfo {
  width: 40%;
  opacity: 0;
}
.homeContainer .homeSubInfoWrapper .subInfo .lifetimeText {
  font-size: 40px;
  font-weight: 700;
  color: #000;
  padding: 0px 80px 0px 0px;
  margin-bottom: 25px;
}
.homeContainer .homeSubInfoWrapper .subInfo .lifeTimeTextInfo {
  font-size: 24px;
  font-weight: 650;
  color: #667282;
  margin-bottom: 25px;
}
.homeContainer .homeSubInfoWrapper .subInfo .featuresTextWrapper {
  background-color: #154d8a;
  padding: 25px;
  border-radius: 20px;
  margin-bottom: 25px;
}
.homeContainer .homeSubInfoWrapper .subInfo .featuresTextWrapper .featuresText {
  font-size: 24px;
  font-weight: 500;
  padding: 10px;
  color: #fff;
}
.homeContainer
  .homeSubInfoWrapper
  .subInfo
  .featuresTextWrapper
  .featuresText
  i {
  font-size: 18px;
  color: #ffb703;
  border: 2px solid #ffb703;
  border-radius: 50%;
  padding: 3px;
  margin-right: 7px;
}
.homeContainer .homeSubInfoWrapper .subInfo .homeContactInfo {
  display: flex;
}
.homeContainer .homeSubInfoWrapper .subInfo .homeContactInfo .phoneLogo {
  display: flex;
  font-size: 1.8rem;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.homeContainer .homeSubInfoWrapper .subInfo .homeContactInfo .phoneLogo i {
  font-size: 2.4rem;
}
.homeContainer .homeSubInfoWrapper .subInfo .homeContactInfo .contactInfo {
  padding: 11px 0px;
  font-size: 18px;
}
.homeContainer
  .homeSubInfoWrapper
  .subInfo
  .homeContactInfo
  .contactInfo
  .phoneNo {
  font-size: 20px;
  font-weight: 700;
}
.homeViewAllProjectsBtnWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeViewAllProjectsBtnWrapper .homeViewAllProjectsBtn {
  width: max-content;
  padding: 10px;
  background: linear-gradient(to left, #154d8a 50%, #ffb703 50%) right;
  background-size: 200% 100%;
  color: #fff;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 700;
  transition: background 0.3s linear;
}
.homeViewAllProjectsBtnWrapper .homeViewAllProjectsBtn:hover {
  cursor: pointer;
  background-color: #12223b;
  background-position: left;
}
.homeViewAllProjectsBtnWrapper.projectsSliderSection {
  padding-bottom: 20px;
}
.homeViewAllProjectsBtnWrapper.projectsSliderSection .homeViewAllProjectsBtn {
  background: linear-gradient(to left, #ffb703 50%, #002f5d 50%) right;
  background-size: 200% 100%;
  transition: background 0.3s linear;
}
.homeViewAllProjectsBtnWrapper.projectsSliderSection
  .homeViewAllProjectsBtn:hover {
  background-color: #002f5d;
  background-position: left;
}
.projectsHomeContainer {
  background-color: #154d8a;
}
.homeAboutUs {
  margin: 25px 0px;
}
.projectsHomeContainer .projectsHomeHeadingText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #fff;
  padding: 20px 0px 0px 0px;
}
.projectsHomeContainer .projectsHomeHeadingText .ourProjects {
  font-size: 2.5rem;
  color: #ffb703;
}
.projectsHomeContainer .swiperContainer {
  margin-bottom: 25px;
}
.projectsHomeContainer
  .swiperContainer
  .swiper-wrapper
  .swiper-slide
  .slideHeading {
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
  padding-bottom: 25px;
}
.swiper-slide {
  padding: 30px 50px;
}
.swiper-slide .projectsTypeWise {
  display: flex;
  justify-content: center;
  gap: 30px;
  height: calc(40vh + 15vw);
}
.swiper-slide .projectsTypeWise .projectInfoWrapper {
  width: 30%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
.swiper-slide .projectsTypeWise .projectInfoWrapper .projectHomeImgContainer {
  width: 100%;
  height: 80%;
}
.swiper-slide
  .projectsTypeWise
  .projectInfoWrapper
  .projectHomeImgContainer
  img {
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0;
}
.projectHomeImgInfo {
  height: 20%;
  background-color: #002f5d;
  border-radius: 0 0 20px 20px;
  color: #fff;
  text-align: center;
  padding: 10px;
}
.projectHomeImgInfo i {
  font-size: 1rem;
  color: #ffb703;
}
.projectHomeImgInfo .projectLocation {
  font-size: 1.4rem;
}
.projectHomeImgInfo .projectSubInfo {
  font-size: 1.2rem;
}
.homeProCounterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 70px;
  padding: 10px 25px 25px 25px;
  color: #ffb703;
}
.homeProCounterContainer .totalProClients,
.homeProCounterContainer .totalProjects,
.homeProCounterContainer .totalProArea {
  background-color: #002f5d;
  border-radius: 50%;
  padding: 20px;
  width: 155px;
  height: 155px;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 8px 18px 20px rgba(0, 0, 0, 0.5);
}
.homeProCounterContainer .totalProClients .pro span,
.homeProCounterContainer .totalProjects .pro span,
.homeProCounterContainer .totalProArea .pro span {
  font-size: 1.4rem;
}
.homeProCounterContainer .totalProClients div:nth-child(2),
.homeProCounterContainer .totalProjects div:nth-child(2),
.homeProCounterContainer .totalProArea div:nth-child(2) {
  font-size: 1rem;
}
.homeProCounterContainer .totalProClients .pro .value,
.homeProCounterContainer .totalProjects .pro .value,
.homeProCounterContainer .totalProArea .pro .value {
  font-size: 2.6rem;
}
@keyframes buttonAnimation {
  0% {
    background-position: right;
  }
  50% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

/* footer css start */
footer {
  background-color: #2a384f;
  background-image: url("../assets/images/wave3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.footerContainer {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding: 0px 30px;
}
.footerContainer .footerLogoName {
  display: flex;
  flex-direction: column;
  padding: 70px 0px;
}
.footerContainer .footerLogoName .footerCompanyName {
  color: #ffb703;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 50px;
  letter-spacing: 1px;
}
.footerContainer .footerLogoName .footerLogoImg {
  width: 250px;
  height: 130px;
}
.footerContainer .footerServicesContainer {
  padding: 70px 0px;
}
.footerContainer .footerServicesContainer.footerCompanyNav {
  display: flex;
  gap: 100px;
}
.footerContainer .footerServicesContainer .footerServices {
  color: #ffb703;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 1px;
}
.footerContainer .footerServicesContainer .footerServicesList {
  color: #fff;
  font-size: 1.2rem;
  padding: 10px 0px;
  margin-top: 10px;
  transition: color 0.3s ease-in-out;
  width: fit-content;
}
.footerContainer .footerServicesContainer .footerServicesList:hover {
  cursor: pointer;
  color: #ffb703;
}
.footerContainer .footerContactDetailsWrapper .footerContactDetails {
  color: #ffb703;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 1px;
}
.footerContainer .footerContactDetailsWrapper .footerContactList {
  color: #fff;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 15px;
  font-size: 1.2rem;
  padding: 10px 0px;
  margin-top: 10px;
}
.footerContainer .footerContactDetailsWrapper .footerContactList a {
  color: #fff;
  transition: color 0.2s ease-in-out;
  text-decoration: none;
  word-break: break-all;
}
.footerContainer .footerContactDetailsWrapper .footerContactList a:hover {
  color: #ffb703;
  text-decoration: underline;
}
.footerCopyRightSection {
  background-color: #12223b;
  color: #fff;
  font-size: 1.2rem;
  padding: 11px 25px 15px 80px;
  border-top: 2px solid #fff;
}
.footerSocialMediaContainer {
  margin-top: 10px;
}
.mobileMenuContainer {
  display: none;
}
.aboutUsContainer {
  width: 100%;
}
.aboutUsContainer .aboutUsImgContainer {
  height: calc(100vh - 50vh);
  margin-bottom: 50px;
}
.aboutUsContainer .aboutUsImgContainer .aboutUsImage {
  position: relative;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation-name: loadingImgAnimation;
  animation-duration: 1s;
  transition: all ease-in-out 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 36px;
  font-weight: 700;
}

.aboutUsContainer .aboutUsImgContainer .aboutUsImage:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: #000;
  background: radial-gradient(
    circle at top left,
    rgba(255, 255, 255, 1) 7%,
    rgba(0, 0, 0, 1) 35%,
    rgba(0, 0, 0, 1) 100%
  );
  /* border-radius: 50px; */
}
.aboutUsInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.aboutUsInfo .aboutUsMissionVision {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 45%;
  opacity: 0;
}
.aboutUsInfo .aboutUsMissionVisionImgContainer {
  width: 40%;
  height: 500px;
  opacity: 0;
}
.translateLeftRightAnim {
  position: static !important;
  opacity: 1;
  transform: translateX(0);
}
.translateRightLeftAnim {
  opacity: 1;
  transform: translateX(0);
}
.aboutUsInfo .aboutUsMissionVision {
  width: 40%;
  height: auto;
  transition: all ease-in-out 1s;
  margin-bottom: 15px;
}
.aboutUsInfo .aboutUsMissionVisionImgContainer .aboutUsMissionVisionUmg1,
.aboutUsInfo .aboutUsMissionVisionImgContainer .aboutUsMissionVisionUmg2 {
  height: 60%;
  width: 55%;
  border-radius: 20px;
  box-shadow: #3d3d3d;
}
.aboutUsInfo .aboutUsMissionVisionImgContainer .aboutUsMissionVisionUmg2 {
  background-image: url("../assets/images/aboutUsPage2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.aboutUsInfo .aboutUsMissionVisionImgContainer .aboutUsMissionVisionUmg1 {
  background-image: url("../assets/images/aboutUsPage3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.aboutUsInfo .aboutUsMissionVisionImgContainer .aboutUsMissionVisionUmg2 {
  position: relative;
  top: -22%;
  left: 35%;
}
.aboutUsInfo .aboutUsMissionVision .missionWrapper,
.aboutUsInfo .aboutUsMissionVision .visionWrapper,
.aboutUsInfo .aboutUsMissionVision .aboutUsMainText {
  padding: 20px;
  width: 100%;
}

.aboutUsInfo .aboutUsMissionVision .missionWrapper .missionHeading,
.aboutUsInfo .aboutUsMissionVision .visionWrapper .visionHeading {
  font-size: 1.8rem;
  font-weight: 700;
  color: #154d8a;
  margin-bottom: 15px;
  position: relative;
}

.aboutUsInfo .missionWrapper .workExperienceFlow {
  position: relative;
  padding-left: 35px;
}
.aboutUsInfo .missionWrapper .workExperienceFlow .flowLine:after {
  content: "";
  position: absolute;
  background: #12223b;
  top: 10px;
  bottom: 12px;
  left: 15px;
  width: 1px;
}
.aboutUsInfo .missionWrapper .workExperienceFlow .flowDotFirst:after {
  content: "";
  position: absolute;
  background: #79b22c;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  top: 10px;
  left: 9px;
}
.aboutUsInfo .missionWrapper .workExperienceFlow .flowDotSecond:after {
  content: "";
  position: absolute;
  background: #79b22c;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  top: 48%;
  left: 9px;
}
.aboutUsInfo .missionWrapper .workExperienceFlow .flowDotThird:after {
  content: "";
  position: absolute;
  background: #79b22c;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  bottom: 5px;
  left: 9px;
}

.missionHeading:after,
.visionHeading:after {
  content: "";
  background: #c12a7e;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20%;
  height: 2px;
}
.aboutUsInfo .aboutUsMissionVision .aboutUsMainText,
.aboutUsInfo .aboutUsMissionVision .missionWrapper .missionText,
.aboutUsInfo .aboutUsMissionVision .visionWrapper .visionText {
  font-size: 1.6rem;
  font-weight: 500;
  color: #667282;
}
.aboutUsInfo .aboutUsMissionVision .aboutUsMainText span {
  font-size: 2.8rem;
}
.aboutUsInfo .aboutUsExperienceImgContainer {
  width: 40%;
  opacity: 0;
}
.aboutUsInfo .aboutUsExperienceImgContainer .aboutUsExperienceImg {
  background-image: url("../assets/images/Bhushan_Dada_Founder.PNG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  border-radius: 30px;
  margin-bottom: 15px;
}
.aboutUsInfo .aboutUsExperienceImgContainer .infoText {
  font-size: 1.6rem;
  font-weight: 500;
  color: #667282;
}
.aboutUsInfo .aboutUsExperienceImgContainer .founderText {
  text-align: center;
  color: #12223b;
  font-weight: 500;
}
.aboutUsInfo .aboutUsExperienceImgContainer .founderText .span {
}

/* projects css start */
.projectsContainer {
  width: 100%;
}
.projectsContainer .projectsImgContainer {
  height: calc(100vh - 50vh);
  margin-bottom: 50px;
}
.projectsContainer .projectsImgContainer .projectsImage {
  position: relative;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation-name: loadingImgAnimation;
  animation-duration: 1s;
  transition: all ease-in-out 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 36px;
  font-weight: 700;
}
.projectsContainer .projectsImgContainer .projectsImage:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: #000;
  background: radial-gradient(
    circle at top left,
    rgba(255, 255, 255, 1) 7%,
    rgba(0, 0, 0, 1) 35%,
    rgba(0, 0, 0, 1) 100%
  );
}
.homeLink {
  font-size: 1.2rem;
  margin-top: 25px;
  font-weight: 400;
}
.projectsContainer .projectsHeading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffb703;
  font-weight: 600;
  margin-bottom: 20px;
}
.projectsContainer .projectsHeading .projectTitle {
  font-size: 2rem;
}
.projectsContainer .projectsHeading .projectSubTitle {
  font-size: 1.4rem;
  color: #667282;
}
.projectsContainer .allProjectsContainer span {
  position: relative;
  left: 15%;
  font-size: 1.4rem;
  color: #154d8a;
  margin-bottom: 25px;
  cursor: pointer;
  z-index: 1;
}
/* .projectsContainer .allProjectsContainer span:after {
  content: "";
  background: #c12a7e;
  position: absolute;
  bottom: -3px;
  left: 20%;
  width: 40%;
  height: 2px;
} */
.projectsContainer .allProjectsContainer span i {
  margin: 10px;
  font-size: 1.2rem;
  /* border: 2px solid #c12a7e; */
  /* border-radius: 50%; */
  padding: 3px;
  color: #c12a7e;
  rotate: 90deg;
  transition: rotate 0.5s ease-in-out;
}
.projectsContainer .allProjectsContainer span .proTypeSubInfo {
  font-size: 1rem;
  position: relative;
  left: 4.5%;
  top: -7px;
  width: fit-content;
  max-width: calc(100% - 5%);
}
.projectsContainer .allProjectsContainer .allProjects {
  display: flex;
  align-items: center;
  justify-content: center;
}
.projectsContainer
  .allProjectsContainer
  .proResidential
  .allProjects
  .widthIssueTempFix,
.projectsContainer
  .allProjectsContainer
  .proCommercial
  .allProjects
  .widthIssueTempFix {
  width: 77%;
}
.projectsContainer .allProjectsContainer .allProjects div .pro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
  gap: 40px;
}
.projectsContainer .allProjectsContainer .proResidential .allProjects div .pro,
.projectsContainer .allProjectsContainer .proCommercial .allProjects div .pro {
  /* margin: 0px -120px; */
}
.projectsContainer .allProjectsContainer .allProjects div .pro.reverseFlex {
  flex-direction: row-reverse;
}
.projectsContainer .allProjectsContainer .allProjects div .pro .proImg {
  opacity: 0;
}
.projectsContainer .allProjectsContainer .allProjects div .pro .proImg img {
  width: 100%;
  height: 330px;
  border-radius: 30px;
  box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.6);
  transition: transform 0.3s ease-in-out;
}
.projectsContainer .allProjectsContainer .allProjects div .pro .proInfo {
  border: 1px solid #12223b30;
  border-radius: 30px;
  max-width: 30%;
  min-width: 20%;
  opacity: 0;
  box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.6);
}
.projectsContainer .allProjectsContainer .allProjects div .pro {
  transition: transform 0.3s ease-in-out;
}
.projectsContainer .allProjectsContainer .allProjects div .pro:hover {
  transform: scale(1.1);
  background-color: #edf5ff;
}
.projectsContainer
  .allProjectsContainer
  .allProjects
  div
  .pro
  .proInfo
  .proSpace {
  padding: 7px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #12223b30;
}
.projectsContainer
  .allProjectsContainer
  .allProjects
  div
  .pro
  .proInfo
  .proSpace:last-child {
  border: none;
}
.projectsContainer
  .allProjectsContainer
  .allProjects
  div
  .pro
  .proInfo
  .proSpace
  .proInfoTitle {
  font-size: 0.8rem;
  color: #667282;
  margin-bottom: 5px;
}
.projectsContainer
  .allProjectsContainer
  .allProjects
  div
  .pro
  .proInfo
  .proSpace
  .proInfoValue {
  font-size: 1rem;
  color: #000;
}
.projectsContainer
  .allProjectsContainer
  .allProjects
  div
  .pro
  .proInfo
  .proSpace
  div
  i {
  width: 26px;
  padding: 0 14px;
  font-size: 1.3rem;
  color: #ffb703;
  margin-right: 26px;
}
.projectsContainer .allProjectsContainer .dotsContainer {
  display: none;
  position: relative;
  left: 23%;
  width: fit-content;
}
/* projects css start */
.contactUsContainer {
  width: 100%;
}
.headBackImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.headImgTextWrapper {
  position: relative;
  text-align: center;
}
.contactUsContainer .contactUsImgContainer {
  height: calc(100vh - 50vh);
  margin-bottom: 50px;
}
.contactUsContainer .contactUsImgContainer .contactUsImage {
  position: relative;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation-name: loadingImgAnimation;
  animation-duration: 1s;
  transition: all ease-in-out 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 36px;
  font-weight: 700;
}
.headLogoImage {
  position: absolute;
  left: 30px;
  top: 30px;
  width: 240px;
  height: 120px;
}
.contactUsContainer .contactUsImgContainer .contactUsImage:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: #000;
  background: radial-gradient(
    circle at top left,
    rgba(255, 255, 255, 1) 7%,
    rgba(0, 0, 0, 1) 35%,
    rgba(0, 0, 0, 1) 100%
  );
}
.contactUsContainer .contactUsImgContainer .contactUsImage .contactUsText {
  z-index: 1;
}
.contactUsWays {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;
}
.contactUsWays .contactUsPhoneNumber {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid #12223b30;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
  width: 350px;
  height: 240px;
}
.contactUsWays .contactUsPhoneNumber .contactUsPhoneNumbers a {
  color: #3d3d3d;
  text-decoration: none;
}
.contactUsWays .contactUsPhoneNumber .contactUsPhoneNumbers a:hover {
  color: #12223b;
  text-decoration: underline;
}
.contactUsWays .contactUsPhoneNumber:hover {
  transform: scale(1.1);
}
.contactUsWays .contactUsPhoneNumber .phoneIcon,
.contactUsWays .contactUsPhoneNumber .callUsText,
.contactUsWays .contactUsPhoneNumber .contactUsPhoneNumbers {
  padding: 10px;
}
.contactUsEmailContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  left: -35px;
  height: 800px;
  background-color: #154d8a;
  padding: 80px 35px;
  margin-bottom: 25px;
}
.contactUsEmailWrapper {
  width: 50%;
  height: fit-content;
  background-color: #fff;
  border-radius: 30px;
  padding: 20px 30px;
}
.socialMediaLinksContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 20%;
  height: 30%;
  background-color: #12223b;
  border-radius: 30px;
}
.contactUsEmailContainer .contactUsEmailWrapper .contactUsEmailHeadingText {
  position: relative;
  font-size: 2.4rem;
  color: #12223b;
  margin-bottom: 15px;
}
.contactUsEmailContainer
  .contactUsEmailWrapper
  .contactUsEmailHeadingText:after {
  content: "";
  background: #ffb703;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30%;
  height: 2px;
}
.contactUsEmailContainer .contactUsEmailWrapper .fillFormMsg {
  color: #3d3d3d;
}
.contactUsContainer
  .contactUsEmailContainer
  .contactUsEmailWrapper
  .emailJsContainer
  .emailJsWrapper
  .contactUsForm
  .formInputFlexFields {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 25px;
}
.contactUsContainer
  .contactUsEmailContainer
  .contactUsEmailWrapper
  .emailJsContainer
  .emailJsWrapper
  .contactUsForm
  .formInputFlexFields
  div {
  width: calc(50% - 10px);
}
.contactUsContainer
  .contactUsEmailContainer
  .contactUsEmailWrapper
  .emailJsContainer
  .emailJsWrapper
  .contactUsForm
  .formInputFlexFields
  div
  input {
  height: 45px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #12223b;
  font-size: 1.1rem;
  padding: 60px 10px 10px 10px;
}
.contactUsContainer
  .contactUsEmailContainer
  .contactUsEmailWrapper
  .emailJsContainer
  .emailJsWrapper
  .contactUsForm
  .formInputFlexFields
  div
  input:focus-visible {
  outline: none;
  border-bottom: 2px solid #ffb703;
}
.contactUsContainer
  .contactUsEmailContainer
  .contactUsEmailWrapper
  .emailJsContainer
  .emailJsWrapper
  .contactUsForm
  div
  .errMsg {
  display: none;
  padding-left: 10px;
  color: red;
  width: 100%;
}
.contactUsContainer
  .contactUsEmailContainer
  .contactUsEmailWrapper
  .emailJsContainer
  .emailJsWrapper
  .contactUsForm
  div
  #contactUsFormMessage {
  min-width: 100%;
  max-width: 100%;
  min-height: 100px;
  max-height: 100px;
  font-size: 1.1rem;
  border: none;
  border-bottom: 1px solid #12223b;
  padding: 20px 10px 10px 10px;
}
.contactUsContainer
  .contactUsEmailContainer
  .contactUsEmailWrapper
  .emailJsContainer
  .emailJsWrapper
  .contactUsForm
  div
  #contactUsFormMessage:focus-visible {
  outline: none;
  border-bottom: 2px solid #ffb703;
}
.contactUsFormSubmitButton {
  margin: 30px 0px;
  padding: 15px;
  background: linear-gradient(to left, #154d8a 50%, #12223b 50%) right;
  background-size: 200% 100%;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 10px;
  border: none;
  transition: background 0.3s ease-in-out;
}
.contactUsFormSubmitButton:hover {
  background-position: left;
}
.contactUsFormSubmitButton:hover {
  cursor: pointer;
  background-color: #3d3d3d;
}
.socialMediaLinks {
  display: flex;
  gap: 0.8rem;
}
.socialMediaLinks i {
  color: #ffb703;
  font-size: 1.6rem;
}
.socialMediaIconWrapper {
  width: 2.6rem;
  height: 2.6rem;
  border: 2px solid #ffb703;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: border 0.2s ease-in-out;
}
.socialMediaIconWrapper:hover {
  border: 2px solid whitesmoke;
}
.followUsText {
  color: #fff;
  font-size: 1.4rem;
}
.contactUsSpinner {
  display: none;
}
.contactUsEmailSendSuccessMsg {
  color: #79b22c;
  font-size: 1.2rem;
  font-weight: 500;
  display: none;
}
.contactUsEmailSendErrMsg {
  color: red;
  font-size: 1.2rem;
  font-weight: 500;
  display: none;
}
.contactUsMapContainer {
  position: relative;
}
.locateUsMap:after {
  content: "";
  background: #ffb703;
  position: relative;
  display: block;
  bottom: 0;
  left: 43.2%;
  width: 10%;
  height: 2px;
}
gmp-map {
  height: 500px;
}

.headingText {
  font-size: 2rem;
  font-weight: 700;
  color: #ffb703;
  margin-bottom: 15px;
}
.textCenter {
  text-align: center;
}
.mb-10px {
  margin-bottom: 10px;
}
.smallText {
  font-size: 1.2rem !important;
}
.mediumText {
  font-size: 1.4rem !important;
}
.largeText {
  font-size: 1.6rem !important;
}
.extraLargeText {
  font-size: 1.8rem !important;
}
.xxLargeText {
  font-size: 2rem !important;
}
.navyBlueText {
  color: #12223b !important;
}
.orangeText {
  color: #ffb703 !important;
}
.bold {
  font-weight: 700;
}
.faintBlackColor {
  color: #3d3d3d !important;
}
.mindTextWork {
  font-size: 2rem;
  font-weight: 700;
  color: #ffb703;
  margin-bottom: 15px;
  position: relative;
  display: flex;
  justify-content: center;
}
.mindTextWork div {
  position: relative;
  margin: 0 40px;
}
.mindTextWork div:after {
  content: "";
  background: #c12a7e;
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 40%;
  height: 2px;
}

@keyframes homeWelcomeContainerOut {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}
@keyframes buttonAnimationHoverIn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
@keyframes buttonAnimationHoverOut {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
@keyframes loadingImgAnimation {
  from {
    transform: translateX(-1000px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes aboutUsAniLeftToRight {
  from {
    transform: translateX(-1000px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes aboutUsAniRightToLeft {
  from {
    transform: translateX(1000px);
  }
  to {
    transform: translateX(0px);
  }
}
