* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}
.loaderContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  align-items: center;
  background: rgba(198, 188, 188, 0.95);
}
.loaderLogo {
  margin: 20px;
}
.loader {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #0396e3;
  animation: prixClipFix 2s linear infinite;
}
.loader::after {
  inset: 8px;
  transform: rotate3d(90, 90, 0, 180deg);
  border-color: #c85089;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  75%,
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
}

.loader-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  background-color: black;
  z-index: 1000;
  color: whitesmoke;
  font-size: large;
}

@keyframes loadingAnimation {
  from {
    translate: 0 0;
  }

  to {
    translate: 100% 100%;
  }
}

.loader-wrapper {
  display: none;
}

.loader-wrapper loadingText {
  animation-name: loadingAnimation;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope";
}
body {
  width: 100%;
  min-height: 100vh;
  font-family: "Manrope";
}
header {
  height: 50px;
  width: 100%;
  z-index: 2;
  position: fixed !important;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  background: white;
}
header nav ul {
  height: 100%;
  display: flex;
  list-style-type: none;
  gap: 70px;
  font-size: 22px;
  font-weight: 700;
  color: #3d3d3d;
}
header nav ul li {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
header nav ul li:hover {
  transform: scale(1.1);
}
main {
  padding: 50px 0px 50px 0px;
}
.homeContainer {
  /* width: calc(100% - 70px); */
  width: calc(100%);
  /* margin: 0px 35px 0px 35px; */
}
.homeContainer .homeCarousel {
  width: 100%;
  height: calc(100vh - 50px);
  margin-bottom: 50px;
}
.homeContainer .homeCarousel .homeImgContainer {
  position: relative;
  height: 100%;
  /* background-image: url("../assets/images/compressedImages/Home.webp"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  /* border-radius: 50px; */
  animation-name: loadingImgAnimation;
  animation-duration: 1s;
  transition: all ease-in-out 1s;
}
.homeContainer .homeCarousel .homeImgContainer .homeCoverImg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}
.homeContainer .homeCarousel .homeImgContainer img {
  position: sticky;
  top: 115px;
  left: 65px;
  height: 120px;
  width: 240px;
  z-index: 1;
}
.burgerIconBtn {
  display: none;
}
.homeContainer .homeCarousel .homeImgContainer:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: #000;
  /* border-radius: 50px; */
}
.homeContainer .homeCarousel .homeWelcomeContainer {
  position: relative;
  top: -85px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  animation-name: homeWelcomeContainerOut;
  animation-duration: 1s;
}
.homeContainer .homeCarousel .homeWelcomeContainer .welcomeText {
  font-size: 1.9rem;
  font-weight: 700;

  color: #ffb703;
  margin-bottom: 30px;
  text-align: center;
}
.homeContainer .homeCarousel .homeWelcomeContainer .purposeText {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 30px;
  text-align: center;
}
.homeContainer .homeCarousel .homeWelcomeContainer .purposeInfoText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 60px;
}
.homeContainer .homeCarousel .homeWelcomeContainer .scrollDownOptionWrapper {
  position: absolute;
  bottom: 45px;
  text-align: center;
  cursor: pointer;
}
.homeContainer
  .homeCarousel
  .homeWelcomeContainer
  .scrollDownOptionWrapper
  .scrollIcon {
  width: 50px;
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffb703;
  color: #ffb703;
  font-size: 1.4rem;
  border-radius: 50%;
  transition: transform 0.2s linear;
}
.homeContainer
  .homeCarousel
  .homeWelcomeContainer
  .scrollDownOptionWrapper
  .scrollIcon:hover {
  transform: scale(1.05);
}
.homeContainer
  .homeCarousel
  .homeWelcomeContainer
  .scrollDownOptionWrapper
  .scrollIcon
  i {
  animation: 1.2s ease infinite wheel-up-down;
}

@keyframes wheel-up-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    transform: translateY(10px);
    opacity: 0;
  }
}
.homeContainer
  .homeCarousel
  .homeWelcomeContainer
  .scrollDownOptionWrapper
  .scrollText {
  margin-top: 10px;
  color: #ffb703;
  font-size: 1.2rem;
}

.homeContainer .homeSubInfoWrapper {
  max-height: 790px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  gap: 75px;
  margin-bottom: 50px;
  /* background-image: url("../assets/images/wave.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
}
.homeContainer .homeSubInfoWrapper .subInfoImg {
  max-height: inherit;
  min-height: 600px;
  max-width: 45%;
  min-width: 40%;
  background-image: url("../assets/images/AboutUs1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #3d3d3d;
  border-radius: 50px;
  opacity: 0;
}
.homeContainer .homeSubInfoWrapper .subInfo {
  width: 40%;
  opacity: 0;
}
.homeContainer .homeSubInfoWrapper .subInfo .lifetimeText {
  font-size: 40px;
  font-weight: 700;
  color: #000;
  padding: 0px 80px 0px 0px;
  margin-bottom: 25px;
}
.homeContainer .homeSubInfoWrapper .subInfo .lifeTimeTextInfo {
  font-size: 24px;
  font-weight: 650;
  color: #667282;
  margin-bottom: 25px;
}
.homeContainer .homeSubInfoWrapper .subInfo .featuresTextWrapper {
  background-color: #2a5eb8;
  padding: 25px;
  border-radius: 20px;
  margin-bottom: 25px;
}
.homeContainer .homeSubInfoWrapper .subInfo .featuresTextWrapper .featuresText {
  font-size: 24px;
  font-weight: 500;
  padding: 10px;
  color: #fff;
}
.homeContainer
  .homeSubInfoWrapper
  .subInfo
  .featuresTextWrapper
  .featuresText
  i {
  font-size: 18px;
  color: #ffb703;
  border: 2px solid #ffb703;
  border-radius: 50%;
  padding: 3px;
  margin-right: 7px;
}
.homeContainer .homeSubInfoWrapper .subInfo .homeContactInfo {
  display: flex;
}
.homeContainer .homeSubInfoWrapper .subInfo .homeContactInfo .phoneLogo {
  display: flex;
  font-size: 1.8rem;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.homeContainer .homeSubInfoWrapper .subInfo .homeContactInfo .phoneLogo i {
  font-size: 2.4rem;
}
.homeContainer .homeSubInfoWrapper .subInfo .homeContactInfo .contactInfo {
  padding: 11px 0px;
  font-size: 18px;
}
.homeContainer
  .homeSubInfoWrapper
  .subInfo
  .homeContactInfo
  .contactInfo
  .phoneNo {
  font-size: 20px;
  font-weight: 700;
}
.homeContainer .homeJobProjectsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}
.homeContainer .homeJobProjectsWrapper .homeJobProjectsText {
  font-size: 1.8rem;
  font-weight: 700;
  color: #ffb703;
  text-shadow: 1px 1px black;
  margin: 15px 0px;
}
.homeContainer .homeJobProjectsWrapper .homeDiverseProjects {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.homeContainer .homeJobProjectsWrapper .homeJobExperienceList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 25px;
}
.homeContainer
  .homeJobProjectsWrapper
  .homeJobExperienceList
  .eachJobProjectInList {
  /* width: 25%; */

  height: 325px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 50px;
  opacity: 0;
  transition: all 0.5s ease-in-out !important;
  background-color: #12223b30;
}
.homeContainer
  .homeJobProjectsWrapper
  .homeJobExperienceList
  .eachJobProjectInList:hover {
  /* transform: scale(1.3) !important;
  grid-column-start: 1;
  grid-column-end: 3; */
  /* width: 140%;
  height: 140%; */
  /* transform: scale(1.4); */
  z-index: 100;
}
.homeContainer
  .homeJobProjectsWrapper
  .homeJobExperienceList
  .eachJobProjectInList:nth-child(2):hover {
  /* left: -20%; */
  /* transform: scale(1.4); */
  /* width: 140%;
  height: 140%; */
}
.homeContainer
  .homeJobProjectsWrapper
  .homeJobExperienceList
  .eachJobProjectInList:nth-child(3):hover {
  /* left: -20%; */
  /* transform: scale(1.4); */
  /* width: 140%;
  height: 140%; */
}
.homeContainer
  .homeJobProjectsWrapper
  .homeJobExperienceList
  .eachJobProjectInList:nth-child(4):hover {
  /* left: -40%; */
  /* transform: scale(1.4); */
  /* width: 140%;
  height: 140%; */
}
.homeContainer
  .homeJobProjectsWrapper
  .homeJobExperienceList
  .eachJobProjectInList
  .projectImg
  img {
  position: relative;
  object-fit: cover;
  border-radius: 50px;
  width: 100%;
  height: 100%;
}
.homeContainer
  .homeJobProjectsWrapper
  .homeJobExperienceList
  .eachJobProjectInList
  .overlayJob {
  position: absolute;
  bottom: -10%;
  margin-bottom: 15px;
  color: #fff;
  display: none;
  transition: display 1s linear, transform 1s ease-in-out;
}
.homeContainer
  .homeJobProjectsWrapper
  .homeJobExperienceList
  .eachJobProjectInList
  .overlayJob
  .projectInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: left;
  font-size: 1.3rem;
}
.homeContainer
  .homeJobProjectsWrapper
  .homeJobExperienceList
  .eachJobProjectInList
  .overlayJob
  .projectInfo
  div
  i {
  width: 41px;
  padding: 10px;
}
.homeContainer
  .homeJobProjectsWrapper
  .homeJobExperienceList
  .eachJobProjectInList:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: #000;
  border-radius: 50px;
  z-index: 10;
}
.homeContainer
  .homeJobProjectsWrapper
  .homeJobExperienceList
  .eachJobProjectInList:hover
  .overlayJob {
  display: block;
  transform: translateY(-100px);
  z-index: 11;
}
.homeJobProjectsText {
  font-size: 1.8rem;
  font-weight: 700;
  color: #ffb703;
  margin-bottom: 10px;
}
.headImgText {
  z-index: 1;
  color: #fff;
  font-size: 2.6rem;
}
.homeViewAllProjectsBtnWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeViewAllProjectsBtnWrapper .homeViewAllProjectsBtn {
  width: max-content;
  padding: 10px;
  /* background-color: #ffb703; */
  background: linear-gradient(to left, #2a5eb8 50%, #ffb703 50%) right;
  background-size: 200% 100%;
  color: #fff;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 700;
  transition: background 0.3s linear;
  /* animation: buttonAnimation 4s ease-in-out infinite; */
}
.homeViewAllProjectsBtnWrapper .homeViewAllProjectsBtn:hover {
  cursor: pointer;
  background-color: #12223b;
  background-position: left;
}

@keyframes buttonAnimation {
  0% {
    background-position: right;
  }
  50% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
.footerContainer {
  /* background-color: #12223b; */
  background-color: #2a384f;
  background-image: url("../assets/images/wave3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.footerContainer .footerLogoName {
  display: flex;
  flex-direction: column;
  padding: 70px 50px;
}
.footerContainer .footerLogoName .footerCompanyName {
  color: #ffb703;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 50px;
  letter-spacing: 1px;
}
.footerContainer .footerLogoName .footerLogoImg {
  width: 250px;
  height: 130px;
}
.footerContainer .footerServicesContainer {
  padding: 70px 50px;
}
.footerContainer .footerServicesContainer .footerServices {
  color: #ffb703;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 1px;
}
.footerContainer .footerServicesContainer .footerServicesList {
  color: #fff;
  font-size: 1.2rem;
  padding: 10px 0px;
  margin-top: 10px;
  transition: color 0.3s ease-in-out;
}
.footerContainer .footerServicesContainer .footerServicesList:hover {
  cursor: pointer;
  color: #ffb703;
}
.footerContainer .footerContactDetailsWrapper {
  padding: 70px 50px;
}
.footerContainer .footerContactDetailsWrapper .footerContactDetails {
  color: #ffb703;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 1px;
}
.footerContainer .footerContactDetailsWrapper .footerContactList {
  color: #fff;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 15px;
  font-size: 1.2rem;
  padding: 10px 0px;
  margin-top: 10px;
}
.footerContainer .footerContactDetailsWrapper .footerContactList a {
  color: #fff;
  transition: color 0.2s ease-in-out;
  text-decoration: none;
}
.footerContainer .footerContactDetailsWrapper .footerContactList a:hover {
  color: #ffb703;
  text-decoration: underline;
}
.footerCopyRightSection {
  background-color: #12223b;
  color: #fff;
  font-size: 1.2rem;
  padding: 11px 25px 15px 80px;
  border-top: 2px solid #fff;
}
.footerSocialMediaContainer {
  margin-top: 10px;
}
.mobileMenuContainer {
  display: none;
}
.aboutUsContainer {
  width: 100%;
  /* padding: 0 35px 0 35px; */
}
.aboutUsContainer .aboutUsImgContainer {
  height: calc(100vh - 50vh);
  margin-bottom: 50px;
}
.aboutUsContainer .aboutUsImgContainer .aboutUsImage {
  position: relative;
  height: 100%;
  /* background-image: url("../assets/images/abuoutUsPage1.jpg"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background-color: #3d3d3d; */
  /* border-radius: 50px; */
  animation-name: loadingImgAnimation;
  animation-duration: 1s;
  transition: all ease-in-out 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 36px;
  font-weight: 700;
}

.aboutUsContainer .aboutUsImgContainer .aboutUsImage:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: #000;
  /* border-radius: 50px; */
}
.aboutUsInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.aboutUsInfo .aboutUsMissionVision {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 45%;
  opacity: 0;
}
.aboutUsInfo .aboutUsMissionVisionImgContainer {
  width: 40%;
  height: 500px;
  /* position: absolute;
  left: 0; */
  opacity: 0;
}
.intersectionAnimationLeftRight {
  /* transform: translateX(-1000px); */
  /* opacity: 0; */
}
.intersectionAnimationRightLeft {
  /* transform: translateX(1000px); */
  /* opacity: 0; */
}
.translateLeftRightAnim {
  position: static !important;
  opacity: 1;
  transform: translateX(0);
}
.translateRightLeftAnim {
  opacity: 1;
  transform: translateX(0);
}
.aboutUsInfo .aboutUsMissionVision {
  width: 40%;
  height: auto;
  /* animation: aboutUsAniRightToLeft 1s ease-in-out forwards; */
  transition: all ease-in-out 1s;
  margin-bottom: 15px;
}
.aboutUsInfo .aboutUsMissionVisionImgContainer .aboutUsMissionVisionUmg1,
.aboutUsInfo .aboutUsMissionVisionImgContainer .aboutUsMissionVisionUmg2 {
  /* border: 1px solid red; */
  height: 60%;
  width: 55%;
  border-radius: 20px;
  box-shadow: #3d3d3d;
}
.aboutUsInfo .aboutUsMissionVisionImgContainer .aboutUsMissionVisionUmg2 {
  background-image: url("../assets/images/aboutUsPage2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.aboutUsInfo .aboutUsMissionVisionImgContainer .aboutUsMissionVisionUmg1 {
  background-image: url("../assets/images/aboutUsPage3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.aboutUsInfo .aboutUsMissionVisionImgContainer .aboutUsMissionVisionUmg2 {
  position: relative;
  top: -22%;
  left: 35%;
}
.aboutUsInfo .aboutUsMissionVision .missionWrapper,
.aboutUsInfo .aboutUsMissionVision .visionWrapper,
.aboutUsInfo .aboutUsMissionVision .aboutUsMainText {
  padding: 20px;
  width: 100%;
}

.aboutUsInfo .aboutUsMissionVision .missionWrapper .missionHeading,
.aboutUsInfo .aboutUsMissionVision .visionWrapper .visionHeading {
  font-size: 2rem;
  font-weight: 700;
  /* text-align: center; */
  color: #2a5eb8;
  margin-bottom: 15px;
  position: relative;
}

.aboutUsInfo .missionWrapper .workExperienceFlow {
  position: relative;
  padding-left: 35px;
}
.aboutUsInfo .missionWrapper .workExperienceFlow .flowLine:after {
  content: "";
  position: absolute;
  background: #12223b;
  top: 10px;
  bottom: 12px;
  left: 15px;
  width: 1px;
}
.aboutUsInfo .missionWrapper .workExperienceFlow .flowDotFirst:after {
  content: "";
  position: absolute;
  background: #79b22c;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  top: 10px;
  left: 9px;
}
.aboutUsInfo .missionWrapper .workExperienceFlow .flowDotSecond:after {
  content: "";
  position: absolute;
  background: #79b22c;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  top: 48%;
  left: 9px;
}
.aboutUsInfo .missionWrapper .workExperienceFlow .flowDotThird:after {
  content: "";
  position: absolute;
  background: #79b22c;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  bottom: 5px;
  left: 9px;
}

.missionHeading:after,
.visionHeading:after {
  content: "";
  background: #c12a7e;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20%;
  height: 2px;
}

/* .borderBottom {
  border-bottom: 2px solid #ffb703;
  position: absolute;
  right: 50%;
} */
.aboutUsInfo .aboutUsMissionVision .aboutUsMainText,
.aboutUsInfo .aboutUsMissionVision .missionWrapper .missionText,
.aboutUsInfo .aboutUsMissionVision .visionWrapper .visionText {
  font-size: 1.6rem;
  font-weight: 500;
  /* text-align: center; */
  color: #667282;
}
.aboutUsInfo .aboutUsMissionVision .aboutUsMainText span {
  font-size: 2.8rem;
}
.aboutUsInfo .aboutUsExperienceImgContainer {
  width: 40%;
  opacity: 0;
}
.aboutUsInfo .aboutUsExperienceImgContainer .aboutUsExperienceImg {
  background-image: url("../assets/images/Bhushan_Dada_Founder.PNG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  border-radius: 30px;
  margin-bottom: 15px;
}
.aboutUsInfo .aboutUsExperienceImgContainer .infoText {
  font-size: 1.6rem;
  font-weight: 500;
  /* text-align: center; */
  color: #667282;
}
.aboutUsInfo .aboutUsExperienceImgContainer .founderText {
  text-align: center;
  color: #12223b;
  font-weight: 500;
}
.aboutUsInfo .aboutUsExperienceImgContainer .founderText .span {
}

/* projects css start */
.projectsContainer {
  width: 100%;
  /* padding: 0 35px 0 35px; */
}
.projectsContainer .projectsImgContainer {
  height: calc(100vh - 50vh);
  margin-bottom: 50px;
}
.projectsContainer .projectsImgContainer .projectsImage {
  position: relative;
  height: 100%;
  /* background-image: url("../assets/images/projectsWrapper.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background-color: #3d3d3d; */
  /* border-radius: 50px; */
  animation-name: loadingImgAnimation;
  animation-duration: 1s;
  transition: all ease-in-out 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 36px;
  font-weight: 700;
}
.projectsContainer .projectsImgContainer .projectsImage:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: #000;
  /* border-radius: 50px; */
}
.homeLink {
  font-size: 1.2rem;
  margin-top: 25px;
  font-weight: 400;
}
.projectsContainer .allProjectsContainer .allProjects {
  display: flex;
  align-items: center;
  justify-content: center;
}
.projectsContainer .allProjectsContainer .allProjects div {
  /* display: grid;
  grid-template-columns: repeat(4, 400px);
  gap: 20px; */
}
.projectsContainer .allProjectsContainer .allProjects div .pro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
  gap: 50px;
}
.projectsContainer .allProjectsContainer .allProjects div .pro.reverseFlex {
  flex-direction: row-reverse;
}
.projectsContainer .allProjectsContainer .allProjects div .pro .proImg {
  opacity: 0;
}
.projectsContainer .allProjectsContainer .allProjects div .pro .proImg img {
  width: 100%;
  height: 400px;
  border-radius: 30px;
  box-shadow: 64px 64px 160px -40px rgba(0, 0, 0, 0.24);
  transition: transform 0.3s ease-in-out;
}
.projectsContainer
  .allProjectsContainer
  .allProjects
  div
  .pro
  .proImg
  img:hover {
  /* transform: scale(0.9); */
}
.projectsContainer .allProjectsContainer .allProjects div .pro .proInfo {
  border: 1px solid #12223b30;
  border-radius: 30px;
  width: 30%;
  opacity: 0;
}
.projectsContainer .allProjectsContainer .allProjects div .pro {
  transition: transform 0.3s ease-in-out;
}
.projectsContainer .allProjectsContainer .allProjects div .pro:hover {
  transform: scale(1.1);
  background-color: #edf5ff;
}
.projectsContainer
  .allProjectsContainer
  .allProjects
  div
  .pro
  .proInfo
  .proSpace {
  padding: 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #12223b30;
}
.projectsContainer
  .allProjectsContainer
  .allProjects
  div
  .pro
  .proInfo
  .proSpace:last-child {
  border: none;
}
.projectsContainer
  .allProjectsContainer
  .allProjects
  div
  .pro
  .proInfo
  .proSpace
  .proInfoTitle {
  font-size: 1rem;
  color: #667282;
  margin-bottom: 5px;
}
.projectsContainer
  .allProjectsContainer
  .allProjects
  div
  .pro
  .proInfo
  .proSpace
  .proInfoValue {
  font-size: 1.2rem;
  color: #000;
}
.projectsContainer
  .allProjectsContainer
  .allProjects
  div
  .pro
  .proInfo
  .proSpace
  div
  i {
  width: 32px;
  padding: 0 20px;
  font-size: 1.6rem;
  color: #ffb703;
  margin-right: 30px;
}
/* projects css start */
.contactUsContainer {
  width: 100%;
  /* padding: 0 35px 0 35px; */
}
.headBackImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.headImgTextWrapper {
  position: relative;
  text-align: center;
}
.contactUsContainer .contactUsImgContainer {
  height: calc(100vh - 50vh);
  margin-bottom: 50px;
}
.contactUsContainer .contactUsImgContainer .contactUsImage {
  position: relative;
  height: 100%;
  /* background-image: url("../assets/images/contactUs1.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background-color: #3d3d3d; */
  /* border-radius: 50px; */
  animation-name: loadingImgAnimation;
  animation-duration: 1s;
  transition: all ease-in-out 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 36px;
  font-weight: 700;
}
.headLogoImage {
  position: absolute;
  left: 30px;
  top: 30px;
  width: 240px;
  height: 120px;
}
.contactUsContainer .contactUsImgContainer .contactUsImage:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: #000;
  /* border-radius: 50px; */
}
.contactUsContainer .contactUsImgContainer .contactUsImage .contactUsText {
  z-index: 1;
}
.contactUsWays {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;
}
.contactUsWays .contactUsPhoneNumber {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid #12223b30;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
  width: 350px;
  height: 240px;
}
.contactUsWays .contactUsPhoneNumber .contactUsPhoneNumbers a {
  color: #3d3d3d;
  text-decoration: none;
}
.contactUsWays .contactUsPhoneNumber .contactUsPhoneNumbers a:hover {
  color: #12223b;
  text-decoration: underline;
}
.contactUsWays .contactUsPhoneNumber:hover {
  transform: scale(1.1);
}
.contactUsWays .contactUsPhoneNumber .phoneIcon,
.contactUsWays .contactUsPhoneNumber .callUsText,
.contactUsWays .contactUsPhoneNumber .contactUsPhoneNumbers {
  padding: 10px;
}
.contactUsEmailContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  left: -35px;
  width: calc(100% + 70px);
  height: 800px;
  background-color: #2a5eb8;
  padding: 80px 35px;
  margin-bottom: 25px;
}
.contactUsEmailWrapper {
  width: 50%;
  height: 100%;
  background-color: #fff;
  border-radius: 30px;
  padding: 20px 30px;
}
.socialMediaLinksContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 20%;
  height: 30%;
  background-color: #12223b;
  border-radius: 30px;
}
.contactUsEmailContainer .contactUsEmailWrapper .contactUsEmailHeadingText {
  position: relative;
  font-size: 2.4rem;
  color: #12223b;
  margin-bottom: 15px;
}
.contactUsEmailContainer
  .contactUsEmailWrapper
  .contactUsEmailHeadingText:after {
  content: "";
  background: #ffb703;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30%;
  height: 2px;
}
.contactUsEmailContainer .contactUsEmailWrapper .fillFormMsg {
  color: #3d3d3d;
}
.contactUsEmailContainer .contactUsEmailWrapper .fillFormMsg:after {
  content: "";
  background: #ffb703;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30%;
  height: 2px;
}
.contactUsContainer
  .contactUsEmailContainer
  .contactUsEmailWrapper
  .emailJsContainer
  .emailJsWrapper
  .contactUsForm {
  margin: 30px 0px;
}
.contactUsContainer
  .contactUsEmailContainer
  .contactUsEmailWrapper
  .emailJsContainer
  .emailJsWrapper
  .contactUsForm
  .formInputFlexFields {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 25px;
}
.contactUsContainer
  .contactUsEmailContainer
  .contactUsEmailWrapper
  .emailJsContainer
  .emailJsWrapper
  .contactUsForm
  .formInputFlexFields
  div {
  width: calc(50% - 10px);
}
.contactUsContainer
  .contactUsEmailContainer
  .contactUsEmailWrapper
  .emailJsContainer
  .emailJsWrapper
  .contactUsForm
  .formInputFlexFields
  div
  input {
  height: 45px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #12223b;
  font-size: 1.1rem;
  padding: 60px 10px 10px 10px;
}
.contactUsContainer
  .contactUsEmailContainer
  .contactUsEmailWrapper
  .emailJsContainer
  .emailJsWrapper
  .contactUsForm
  .formInputFlexFields
  div
  input:focus-visible {
  outline: none;
  border-bottom: 2px solid #ffb703;
}
.contactUsContainer
  .contactUsEmailContainer
  .contactUsEmailWrapper
  .emailJsContainer
  .emailJsWrapper
  .contactUsForm
  div
  .errMsg {
  display: none;
  padding-left: 10px;
  color: red;
}
.contactUsContainer
  .contactUsEmailContainer
  .contactUsEmailWrapper
  .emailJsContainer
  .emailJsWrapper
  .contactUsForm
  div
  #contactUsFormMessage {
  min-width: 100%;
  max-width: 100%;
  min-height: 100px;
  max-height: 100px;
  font-size: 1.1rem;
  border: none;
  border-bottom: 1px solid #12223b;
  padding: 20px 10px 10px 10px;
}
.contactUsContainer
  .contactUsEmailContainer
  .contactUsEmailWrapper
  .emailJsContainer
  .emailJsWrapper
  .contactUsForm
  div
  #contactUsFormMessage:focus-visible {
  outline: none;
  border-bottom: 2px solid #ffb703;
}
.contactUsFormSubmitButton {
  margin: 30px 0px;
  padding: 15px;
  background: linear-gradient(to left, #2a5eb8 50%, #12223b 50%) right;
  background-size: 200% 100%;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 10px;
  border: none;
  transition: background 0.3s ease-in-out;
}
.contactUsFormSubmitButton:hover {
  background-position: left;
}
.contactUsFormSubmitButton:hover {
  cursor: pointer;
  background-color: #3d3d3d;
}
.socialMediaLinks {
  display: flex;
  gap: 0.8rem;
}
.socialMediaLinks i {
  color: #ffb703;
  font-size: 1.6rem;
}
.socialMediaIconWrapper {
  width: 2.6rem;
  height: 2.6rem;
  border: 2px solid #ffb703;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: border 0.2s ease-in-out;
}
.socialMediaIconWrapper:hover {
  border: 2px solid whitesmoke;
}
.followUsText {
  color: #fff;
  font-size: 1.4rem;
}
.contactUsSpinner {
  display: none;
}
.contactUsEmailSendSuccessMsg {
  display: none;
}
.contactUsEmailSendErrMsg {
  display: none;
}
.contactUsMapContainer {
  position: relative;
}
.locateUsMap:after {
  content: "";
  background: #ffb703;
  position: relative;
  display: block;
  bottom: 0;
  left: 43.2%;
  width: 10%;
  height: 2px;
}
gmp-map {
  height: 500px;
}

.headingText {
  font-size: 2rem;
  font-weight: 700;
  /* text-align: center; */
  color: #ffb703;
  margin-bottom: 15px;
}
.textCenter {
  text-align: center;
}
.mb-10px {
  margin-bottom: 10px;
}
.smallText {
  font-size: 1.2rem !important;
}
.mediumText {
  font-size: 1.4rem !important;
}
.largeText {
  font-size: 1.6rem !important;
}
.extraLargeText {
  font-size: 1.8rem !important;
}
.xxLargeText {
  font-size: 2rem !important;
}
.navyBlueText {
  color: #12223b !important;
}
.orangeText {
  color: #ffb703 !important;
}
.bold {
  font-weight: 700;
}
.faintBlackColor {
  color: #3d3d3d !important;
}

@keyframes homeWelcomeContainerOut {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}
@keyframes buttonAnimationHoverIn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
@keyframes buttonAnimationHoverOut {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
@keyframes loadingImgAnimation {
  from {
    transform: translateX(-1000px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes aboutUsAniLeftToRight {
  from {
    transform: translateX(-1000px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes aboutUsAniRightToLeft {
  from {
    transform: translateX(1000px);
  }
  to {
    transform: translateX(0px);
  }
}
